# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Optional
# Ignore trained models if users should train locally
# model/news_model.pkl
# model/vectorizer.pkl